prak2-dashboard.json
[{"id":"5992b366.f9457c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6332fd64.ac9c54","type":"group","z":"5992b366.f9457c","name":"","style":{"label":true},"nodes":["9b9b81e2.eb0ef"],"x":614,"y":659,"w":232,"h":82},{"id":"d356d37f.c19f1","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"kpi/timeSpentParking","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":180,"y":660,"wires":[["ae23ecab.f5d54","17b7198.c5ce367","8fa59cf2.f7493"]]},{"id":"ae23ecab.f5d54","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"581db3ee.e4bb14","order":1,"width":16,"height":8,"label":"Time Spent Parking","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":660,"wires":[[]]},{"id":"3686d445.ae6fac","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/tick","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":140,"y":420,"wires":[["a0ca5b1b.242ed8"]]},{"id":"a0ca5b1b.242ed8","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":1,"width":"6","height":1,"name":"","label":"Tick","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":420,"wires":[]},{"id":"94f5375.5e92cc8","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/tick_delay","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":170,"y":480,"wires":[["a52df976.ba8f88"]]},{"id":"a52df976.ba8f88","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":2,"width":"6","height":1,"name":"","label":"Tick Delay","format":"{{msg.payload}}ms","layout":"row-spread","x":380,"y":480,"wires":[]},{"id":"afd0224d.2b3928","type":"ui_slider","z":"5992b366.f9457c","name":"","label":"Tick Delay [ms]","tooltip":"","group":"675fff50.e5e07","order":5,"width":"6","height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"100","max":"5000","step":"100","x":160,"y":540,"wires":[["c5c84908.d64418"]]},{"id":"c5c84908.d64418","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"tickgen/tick_delay","qos":"","retain":"","broker":"3b931ee9.0688c2","x":390,"y":540,"wires":[]},{"id":"17b7198.c5ce367","type":"function","z":"5992b366.f9457c","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('TSPSum') || 0;\nvar count = context.get('TSPValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseInt(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('TSPSum', sum);\ncontext.set('TSPValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":700,"wires":[["4add72f6.d6be7c","9b9b81e2.eb0ef"]]},{"id":"8fa59cf2.f7493","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":740,"wires":[]},{"id":"4add72f6.d6be7c","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":740,"wires":[]},{"id":"7417dc35.ca1654","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"kpi/distFromDest","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":160,"y":840,"wires":[["23040ce7.046854","1a48dcb2.833b23","9bd4f23.a48cc1"]]},{"id":"23040ce7.046854","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"c2f5f1c9.ba5eb","order":1,"width":16,"height":8,"label":"Distance From Destination","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":520,"y":840,"wires":[[]]},{"id":"d058327c.343b18","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"c2f5f1c9.ba5eb","order":2,"width":8,"height":8,"gtype":"gage","title":"Running Average","label":"m","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":730,"y":880,"wires":[]},{"id":"1a48dcb2.833b23","type":"function","z":"5992b366.f9457c","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('DFDSum') || 0;\nvar count = context.get('DFDValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseInt(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('DFDSum', sum);\ncontext.set('DFDValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":880,"wires":[["d058327c.343b18","8626b0ba.2a4078"]]},{"id":"9bd4f23.a48cc1","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":920,"wires":[]},{"id":"8626b0ba.2a4078","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":920,"wires":[]},{"id":"9b9b81e2.eb0ef","type":"ui_gauge","z":"5992b366.f9457c","g":"6332fd64.ac9c54","name":"","group":"581db3ee.e4bb14","order":2,"width":8,"height":8,"gtype":"gage","title":"Running Average","label":"ticks","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":730,"y":700,"wires":[]},{"id":"3b931ee9.0688c2","type":"mqtt-broker","name":"","broker":"mqttbroker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"581db3ee.e4bb14","type":"ui_group","name":"Average Time Spent Parking","tab":"12cbede5.e84302","order":3,"disp":true,"width":"24","collapse":false},{"id":"675fff50.e5e07","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true},{"id":"c2f5f1c9.ba5eb","type":"ui_group","name":"Parking Spot Distance From Destination","tab":"12cbede5.e84302","order":2,"disp":true,"width":"24","collapse":false},{"id":"12cbede5.e84302","type":"ui_tab","name":"KPI","icon":"dashboard","disabled":false,"hidden":false},{"id":"8d5b248b.b32978","type":"ui_tab","name":"Config","icon":"dashboard","disabled":false,"hidden":false}]