sim.json
[{"id":"5992b366.f9457c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d356d37f.c19f1","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"kpi/timeSpentParking","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":180,"y":720,"wires":[["ae23ecab.f5d54","17b7198.c5ce367","8fa59cf2.f7493"]]},{"id":"ae23ecab.f5d54","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"581db3ee.e4bb14","order":1,"width":16,"height":8,"label":"Time Spent Parking","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":720,"wires":[[]]},{"id":"3686d445.ae6fac","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/tick","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":140,"y":420,"wires":[["a0ca5b1b.242ed8"]]},{"id":"a0ca5b1b.242ed8","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":1,"width":"6","height":1,"name":"","label":"Tick","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":420,"wires":[]},{"id":"94f5375.5e92cc8","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"tickgen/tick_delay","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":170,"y":480,"wires":[["a52df976.ba8f88"]]},{"id":"a52df976.ba8f88","type":"ui_text","z":"5992b366.f9457c","group":"675fff50.e5e07","order":2,"width":"6","height":1,"name":"","label":"Tick Delay","format":"{{msg.payload}}ms","layout":"row-spread","x":380,"y":480,"wires":[]},{"id":"afd0224d.2b3928","type":"ui_slider","z":"5992b366.f9457c","name":"","label":"Tick Delay [ms]","tooltip":"","group":"675fff50.e5e07","order":5,"width":"24","height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"50","max":"1000","step":"10","x":160,"y":540,"wires":[["c5c84908.d64418"]]},{"id":"c5c84908.d64418","type":"mqtt out","z":"5992b366.f9457c","name":"","topic":"tickgen/tick_delay","qos":"","retain":"","broker":"3b931ee9.0688c2","x":390,"y":540,"wires":[]},{"id":"17b7198.c5ce367","type":"function","z":"5992b366.f9457c","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('TSPSum') || 0;\nvar count = context.get('TSPValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('TSPSum', sum);\ncontext.set('TSPValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":760,"wires":[["4add72f6.d6be7c","7954cbf2.152f7c"]]},{"id":"8fa59cf2.f7493","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":800,"wires":[]},{"id":"4add72f6.d6be7c","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":800,"wires":[]},{"id":"7417dc35.ca1654","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"kpi/distFromDest","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":170,"y":960,"wires":[["1a48dcb2.833b23","9bd4f23.a48cc1","23040ce7.046854"]]},{"id":"1a48dcb2.833b23","type":"function","z":"5992b366.f9457c","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('DFDSum') || 0;\nvar count = context.get('DFDValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('DFDSum', sum);\ncontext.set('DFDValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1000,"wires":[["8626b0ba.2a4078","d058327c.343b18"]]},{"id":"9bd4f23.a48cc1","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":1040,"wires":[]},{"id":"8626b0ba.2a4078","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":1040,"wires":[]},{"id":"ecf9823d.7831c","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"kpi/speedReduction","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":170,"y":1200,"wires":[["5d9a847f.d12c44","829ecce0.5bcb","4e1aa478.3a824c"]]},{"id":"24f86b91.57b2dc","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"18454e2.52907b2","order":2,"width":8,"height":8,"gtype":"gage","title":"Percentage Speed Reduction Running Average","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":820,"y":1240,"wires":[]},{"id":"5d9a847f.d12c44","type":"function","z":"5992b366.f9457c","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('SRSum') || 0;\nvar count = context.get('SRValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('SRSum', sum);\ncontext.set('SRValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1240,"wires":[["24f86b91.57b2dc","e8392b55.6cab6"]]},{"id":"829ecce0.5bcb","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1280,"wires":[]},{"id":"e8392b55.6cab6","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":1280,"wires":[]},{"id":"23040ce7.046854","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"581db3ee.e4bb14","order":1,"width":16,"height":8,"label":"Distance From Destination","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":530,"y":960,"wires":[[]]},{"id":"7954cbf2.152f7c","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"581db3ee.e4bb14","order":2,"width":8,"height":8,"gtype":"gage","title":"Time Spent Parking Running Average","label":"ticks","format":"{{value}}","min":0,"max":"1000","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":790,"y":760,"wires":[]},{"id":"d058327c.343b18","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"581db3ee.e4bb14","order":2,"width":8,"height":8,"gtype":"gage","title":"Distance From Destination Running Average","label":"m","format":"{{value}}","min":0,"max":"5000","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":820,"y":1000,"wires":[]},{"id":"16c17a6c.07c14e","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"kpi/parkingEmissions","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":160,"y":1780,"wires":[["b444221b.abc94","def0a94b.af09c8","1e40391a.c01c87"]]},{"id":"b444221b.abc94","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"689a55cd.15d094","order":1,"width":16,"height":8,"label":"Co2-Emissions while Parking","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":1780,"wires":[[]]},{"id":"def0a94b.af09c8","type":"function","z":"5992b366.f9457c","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('CO2Sum') || 0;\nvar count = context.get('CO2ValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseInt(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('CO2Sum', sum);\ncontext.set('CO2ValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1820,"wires":[["da84c5da.b9f508","e8c5ba0b.b21338"]]},{"id":"1e40391a.c01c87","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1860,"wires":[]},{"id":"da84c5da.b9f508","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1860,"wires":[]},{"id":"e74f3c2b.6e0528","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"kpi/fuelConsumption","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":140,"y":1900,"wires":[["fcaf4395.003f68","fd61df37.158bf","c8a12199.92de98"]]},{"id":"fcaf4395.003f68","type":"function","z":"5992b366.f9457c","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('FCSum') || 0;\nvar count = context.get('FCValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('FCSum', sum);\ncontext.set('FCValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(5);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1940,"wires":[["2ab72896.a57a9","efa8644a.2fde4"]]},{"id":"fd61df37.158bf","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":1980,"wires":[]},{"id":"2ab72896.a57a9","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":1980,"wires":[]},{"id":"c8a12199.92de98","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"689a55cd.15d094","order":1,"width":16,"height":8,"label":"Fuel Consumption while Parking","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":1900,"wires":[[]]},{"id":"e8c5ba0b.b21338","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"689a55cd.15d094","order":2,"width":8,"height":8,"gtype":"gage","title":"Co2-Emissions while Parking Running Average","label":"g","format":"{{value}}","min":0,"max":"1000","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":800,"y":1820,"wires":[]},{"id":"efa8644a.2fde4","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"689a55cd.15d094","order":2,"width":8,"height":8,"gtype":"gage","title":"Fuel Consumption while Parking Running Average","label":"l","format":"{{value}}","min":0,"max":"1","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":800,"y":1940,"wires":[]},{"id":"cfd17b6f.a37d2","type":"mqtt in","z":"5992b366.f9457c","name":"","topic":"kpi/distTravelledParking","qos":"2","datatype":"auto","broker":"3b931ee9.0688c2","x":190,"y":840,"wires":[["f1935209.58bc3","69d5d7dc.f3006","631bedf9.efc66c"]]},{"id":"f1935209.58bc3","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"581db3ee.e4bb14","order":1,"width":16,"height":8,"label":"Distance Travelled Parking","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":840,"wires":[[]]},{"id":"69d5d7dc.f3006","type":"function","z":"5992b366.f9457c","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('DTPSum') || 0;\nvar count = context.get('DTPValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('DTPSum', sum);\ncontext.set('DTPValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":880,"wires":[["c6a1cb52.250788","693cc7a8.c2688"]]},{"id":"631bedf9.efc66c","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":920,"wires":[]},{"id":"c6a1cb52.250788","type":"debug","z":"5992b366.f9457c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":920,"wires":[]},{"id":"693cc7a8.c2688","type":"ui_gauge","z":"5992b366.f9457c","name":"","group":"581db3ee.e4bb14","order":2,"width":8,"height":8,"gtype":"gage","title":"Distance Travelled Parking Running Average","label":"m","format":"{{value}}","min":0,"max":"5000","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":820,"y":880,"wires":[]},{"id":"4e1aa478.3a824c","type":"ui_chart","z":"5992b366.f9457c","name":"","group":"18454e2.52907b2","order":2,"width":"16","height":"8","label":"Traffic Induced Speed Reduction","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":1200,"wires":[[]]},{"id":"3b931ee9.0688c2","type":"mqtt-broker","name":"","broker":"mqttbroker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"581db3ee.e4bb14","type":"ui_group","name":"Parking","tab":"12cbede5.e84302","order":3,"disp":true,"width":"24","collapse":false},{"id":"675fff50.e5e07","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true},{"id":"18454e2.52907b2","type":"ui_group","name":"Traffic","tab":"39790810.e6111","order":3,"disp":true,"width":"24","collapse":false},{"id":"689a55cd.15d094","type":"ui_group","name":"Environment","tab":"d6eaa7d1.ed185","order":5,"disp":true,"width":"24","collapse":false},{"id":"12cbede5.e84302","type":"ui_tab","name":"Parking","icon":"dashboard","disabled":false,"hidden":false},{"id":"8d5b248b.b32978","type":"ui_tab","name":"Config","icon":"dashboard","disabled":false,"hidden":false},{"id":"39790810.e6111","type":"ui_tab","name":"Traffic","icon":"dashboard","disabled":false,"hidden":false},{"id":"d6eaa7d1.ed185","type":"ui_tab","name":"Environment","icon":"dashboard","disabled":false,"hidden":false}]