node-red-data/flows.json
[{"id":"5992b366.f9457c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"84621338.b8541","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3219a598.be2402","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8d5b248b.b32978","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3bad7c7d.5054c4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ff1424e3.f937b8","type":"ui_group","name":"Configuration","tab":"935d36f9.9bb698","order":1,"disp":true,"width":"6","collapse":false},{"id":"c25dc9d1.104cb8","type":"mqtt-broker","name":"mqttbroker:1883","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"935d36f9.9bb698","type":"ui_tab","name":"Config","icon":"dashboard","disabled":false,"hidden":false},{"id":"b41b6517.661a1","type":"ui_tab","name":"KPI Raw","icon":"dashboard","disabled":false,"hidden":false},{"id":"98c1c312.47e868","type":"ui_group","name":"Parking Spot Distance from Destination","tab":"b41b6517.661a1","order":2,"disp":true,"width":"24","collapse":false},{"id":"f400ab78.4bacc","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ca253505.6acb4","type":"ui_group","name":"Average Time Spent Parking","tab":"3f53bcab.9570f4","order":3,"disp":true,"width":"24","collapse":false},{"id":"81b45f7.e381ba","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true},{"id":"bbc16057.6523a8","type":"ui_group","name":"Parking Spot Distance From Destination","tab":"3f53bcab.9570f4","order":2,"disp":true,"width":"24","collapse":false},{"id":"3f53bcab.9570f4","type":"ui_tab","name":"KPI","icon":"dashboard","disabled":false,"hidden":false},{"id":"ef8651eb.094fa","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"93a20974.55f16","type":"ui_group","name":"Parking","tab":"8615a4e5.560ee","order":3,"disp":true,"width":"24","collapse":false},{"id":"cae8b5d2.a1aa38","type":"ui_group","name":"Config","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true},{"id":"30e8a116.43706e","type":"ui_group","name":"Traffic","tab":"d761d78f.59bd18","order":3,"disp":true,"width":"24","collapse":false},{"id":"3f064522.24bd52","type":"ui_group","name":"Environment","tab":"c57bf6e3.935ab8","order":5,"disp":true,"width":"24","collapse":false},{"id":"8615a4e5.560ee","type":"ui_tab","name":"Parking","icon":"dashboard","disabled":false,"hidden":false},{"id":"d761d78f.59bd18","type":"ui_tab","name":"Traffic","icon":"dashboard","disabled":false,"hidden":false},{"id":"c57bf6e3.935ab8","type":"ui_tab","name":"Environment","icon":"dashboard","disabled":false,"hidden":false},{"id":"6cba1983.cffb98","type":"ui_tab","name":"Parking Raw","icon":"dashboard","disabled":false,"hidden":false},{"id":"6ce95892.e77cd","type":"ui_group","name":"Parking Raw","tab":"6cba1983.cffb98","order":1,"disp":true,"width":"24","collapse":false},{"id":"fdd29ea.7a2c3e","type":"ui_tab","name":"Traffic Raw","icon":"dashboard","disabled":false,"hidden":false},{"id":"b2e31685.d571c8","type":"ui_group","name":"Traffic Raw","tab":"fdd29ea.7a2c3e","order":1,"disp":true,"width":"24","collapse":false},{"id":"b00228b2.c8c198","type":"ui_tab","name":"Environment Raw","icon":"dashboard","disabled":false,"hidden":false},{"id":"cded2d4e.0ca848","type":"ui_group","name":"Environment Raw","tab":"b00228b2.c8c198","order":1,"disp":true,"width":"24","collapse":false},{"id":"5df4353a.fabcfc","type":"ui_group","name":"Average Time Spent Parking","tab":"b41b6517.661a1","order":1,"disp":true,"width":"24","collapse":false},{"id":"25779052.1759b8","type":"ui_group","name":"Scenario","tab":"8d5b248b.b32978","order":3,"disp":true,"width":"24","collapse":false},{"id":"def3253f.58be1","type":"ui_group","name":"Diagnostics","tab":"f9bbbb24.f9c4c","order":4,"disp":true,"width":"24","collapse":false},{"id":"f9bbbb24.f9c4c","type":"ui_tab","name":"Diagnostics","icon":"dashboard","disabled":false,"hidden":false},{"id":"417a374d.0bdb4","type":"ui_group","name":"KPI Raw","tab":"b41b6517.661a1","order":3,"disp":true,"width":"24","collapse":false},{"id":"818ada6e.7a6bc","type":"ui_group","name":"KPI Avg","tab":"3f53bcab.9570f4","order":4,"disp":true,"width":"24","collapse":false},{"id":"c43b9717.24cc9","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"tickgen/tick","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":140,"y":420,"wires":[["76e5032c.8ce894"]]},{"id":"76e5032c.8ce894","type":"ui_text","z":"3219a598.be2402","group":"cae8b5d2.a1aa38","order":1,"width":"6","height":1,"name":"","label":"Tick","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":420,"wires":[]},{"id":"45c1afe7.5a4558","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"tickgen/tick_delay","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":170,"y":480,"wires":[["32faa08a.ceab58"]]},{"id":"32faa08a.ceab58","type":"ui_text","z":"3219a598.be2402","group":"cae8b5d2.a1aa38","order":2,"width":"6","height":1,"name":"","label":"Tick Delay","format":"{{msg.payload}}ms","layout":"row-spread","x":380,"y":480,"wires":[]},{"id":"e3cf9f31.8ff76","type":"ui_slider","z":"3219a598.be2402","name":"","label":"Tick Delay [ms]","tooltip":"","group":"cae8b5d2.a1aa38","order":5,"width":"24","height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"20","max":"1000","step":"10","x":160,"y":540,"wires":[["76526c0d.bf7bbc"]]},{"id":"76526c0d.bf7bbc","type":"mqtt out","z":"3219a598.be2402","name":"","topic":"tickgen/tick_delay","qos":"","retain":"","broker":"ef8651eb.094fa","x":390,"y":540,"wires":[]},{"id":"28da808e.07d6a","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"simData/static/carCount","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":690,"y":260,"wires":[["bc594bae.6760c"]]},{"id":"bc594bae.6760c","type":"ui_text","z":"3219a598.be2402","group":"25779052.1759b8","order":2,"width":"8","height":1,"name":"","label":"Car Count","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":260,"wires":[]},{"id":"d61cf26d.b27a38","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"simData/static/cruiserCount","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":700,"y":300,"wires":[["ec2ef0ff.5a2038"]]},{"id":"ec2ef0ff.5a2038","type":"ui_text","z":"3219a598.be2402","group":"25779052.1759b8","order":2,"width":"8","height":1,"name":"","label":"Cruiser Count","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":300,"wires":[]},{"id":"4adc8c73.0f350c","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"simData/static/parkerCount","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":700,"y":340,"wires":[["da9e4584.ec294"]]},{"id":"da9e4584.ec294","type":"ui_text","z":"3219a598.be2402","group":"25779052.1759b8","order":2,"width":"8","height":1,"name":"","label":"Parker Count","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":340,"wires":[]},{"id":"4833657d.a9e364","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"simData/static/parkingSpotDensity","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":720,"y":380,"wires":[["b6fbba6b.62c81"]]},{"id":"b6fbba6b.62c81","type":"ui_text","z":"3219a598.be2402","group":"25779052.1759b8","order":2,"width":"8","height":1,"name":"","label":"Parking Spot Density","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":380,"wires":[]},{"id":"2e8c1248.020496","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"simData/static/initialParkingSpotOccupancyRate","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":770,"y":420,"wires":[["21dc4cbe.8643a4"]]},{"id":"21dc4cbe.8643a4","type":"ui_text","z":"3219a598.be2402","group":"25779052.1759b8","order":2,"width":"8","height":1,"name":"","label":"Initial Parking Spot Occupancy Rate","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":420,"wires":[]},{"id":"bce544d.21765b8","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"simData/static/parkingSpotLength","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":720,"y":460,"wires":[["c55f934f.dac7f"]]},{"id":"c55f934f.dac7f","type":"ui_text","z":"3219a598.be2402","group":"25779052.1759b8","order":2,"width":"8","height":1,"name":"","label":"Parking Spot Length","format":"{{msg.payload}}m","layout":"row-spread","x":1120,"y":460,"wires":[]},{"id":"238947dc.f3b1e","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"simData/dynamic/unoccupiedSpotCount","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":1340,"y":680,"wires":[["3b6aec74.a4757c","c311f30d.ed0a78"]]},{"id":"3b6aec74.a4757c","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"def3253f.58be1","order":0,"width":"8","height":"8","gtype":"gage","title":"Unoccupied Parking Spots","label":"spots","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1920,"y":680,"wires":[]},{"id":"c311f30d.ed0a78","type":"ui_chart","z":"3219a598.be2402","name":"","group":"def3253f.58be1","order":4,"width":"16","height":"8","label":"Unoccupied Parking Spots","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1920,"y":720,"wires":[[]]},{"id":"49dae586.a935dc","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"simData/dynamic/carCountVariance","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":1330,"y":780,"wires":[["af7e473.3c5d838"]]},{"id":"f54ccaff.55b298","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"def3253f.58be1","order":0,"width":"8","height":"8","gtype":"gage","title":"Traffic Load Deviation","label":"","format":"{{msg.payload}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1900,"y":820,"wires":[]},{"id":"3e3d8541.90b3d2","type":"ui_chart","z":"3219a598.be2402","name":"","group":"def3253f.58be1","order":5,"width":"16","height":"8","label":"Traffic Load Deviation","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1900,"y":780,"wires":[[]]},{"id":"89888bcc.9687f8","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"simData/dynamic/parkingRate","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":1300,"y":880,"wires":[["9ee141a7.f4b64"]]},{"id":"24012c2c.de48b4","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"def3253f.58be1","order":0,"width":"8","height":"8","gtype":"gage","title":"Parking Rate","label":"park events / minute","format":"{{msg.payload}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1870,"y":920,"wires":[]},{"id":"72d8cff4.bdb85","type":"ui_chart","z":"3219a598.be2402","name":"","group":"def3253f.58be1","order":5,"width":"16","height":"8","label":"Parking Rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1870,"y":880,"wires":[[]]},{"id":"82aa30b6.a70318","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"simData/static/parkingSpotCount","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":720,"y":500,"wires":[["9fa4626a.22bed8"]]},{"id":"9fa4626a.22bed8","type":"ui_text","z":"3219a598.be2402","group":"25779052.1759b8","order":2,"width":"8","height":1,"name":"","label":"Parking Spot Count","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":500,"wires":[]},{"id":"7fe2282b.760bc8","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"simData/static/initiallyAvailableSpots","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":720,"y":540,"wires":[["ac81aaab.2a54a"]]},{"id":"ac81aaab.2a54a","type":"ui_text","z":"3219a598.be2402","group":"25779052.1759b8","order":2,"width":"8","height":1,"name":"","label":"Initially Available Spots","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":540,"wires":[]},{"id":"9ee141a7.f4b64","type":"function","z":"3219a598.be2402","name":"Round","func":"msg.payload = parseFloat(msg.payload).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":880,"wires":[["72d8cff4.bdb85","24012c2c.de48b4"]]},{"id":"af7e473.3c5d838","type":"function","z":"3219a598.be2402","name":"Round","func":"msg.payload = msg.payload * 10;\nmsg.payload = parseFloat(msg.payload).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1650,"y":780,"wires":[["3e3d8541.90b3d2","f54ccaff.55b298"]]},{"id":"7bb40bf.45cf774","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"kpi/travelDistanceToDestinationDistanceRatio","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":240,"y":860,"wires":[["ba6758e4.27ced","d33bfda7.a9c55"]]},{"id":"ba6758e4.27ced","type":"function","z":"3219a598.be2402","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('DFDSum') || 0;\nvar count = context.get('DFDValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('DFDSum', sum);\ncontext.set('DFDValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":900,"wires":[["89f167b8.1ecda8","87a4e784.675ae8"]]},{"id":"d33bfda7.a9c55","type":"ui_chart","z":"3219a598.be2402","name":"","group":"417a374d.0bdb4","order":1,"width":"24","height":8,"label":"Travel Distance To Destination Distance Ratio Raw","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"20","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":870,"y":860,"wires":[[]]},{"id":"89f167b8.1ecda8","type":"ui_chart","z":"3219a598.be2402","name":"","group":"818ada6e.7a6bc","order":1,"width":16,"height":8,"label":"Travel Distance To Destination Distance Ratio ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":940,"wires":[[]]},{"id":"87a4e784.675ae8","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"818ada6e.7a6bc","order":2,"width":8,"height":8,"gtype":"gage","title":"Travel Distance To Destination Distance Ratio Running Average","label":"","format":"{{value}}","min":0,"max":"10","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":900,"y":900,"wires":[]},{"id":"9b2d23c.5185d6","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"kpi/distFromDest","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":160,"y":1000,"wires":[["8ecfa3dc.4e5768","64f26a0e.937b8c"]]},{"id":"8ecfa3dc.4e5768","type":"function","z":"3219a598.be2402","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('DFDSum') || 0;\nvar count = context.get('DFDValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('DFDSum', sum);\ncontext.set('DFDValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1040,"wires":[["7a4d2df3.320eec","10c06aae.983905"]]},{"id":"64f26a0e.937b8c","type":"ui_chart","z":"3219a598.be2402","name":"","group":"417a374d.0bdb4","order":1,"width":"24","height":8,"label":"Distance From Destination Raw","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":810,"y":1000,"wires":[[]]},{"id":"e91abbe8.4f25d8","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"kpi/parkingEmissions","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":180,"y":1280,"wires":[["8f49f3b8.f7cfa8","bb05b5bd.742b18"]]},{"id":"8f49f3b8.f7cfa8","type":"ui_chart","z":"3219a598.be2402","name":"","group":"417a374d.0bdb4","order":1,"width":"24","height":8,"label":"Co2-Emissions while Parking Raw","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":1280,"wires":[[]]},{"id":"bb05b5bd.742b18","type":"function","z":"3219a598.be2402","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('CO2Sum') || 0;\nvar count = context.get('CO2ValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseInt(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('CO2Sum', sum);\ncontext.set('CO2ValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1320,"wires":[["817c5db6.0a9d88","5ae52139.f0731"]]},{"id":"7a4d2df3.320eec","type":"ui_chart","z":"3219a598.be2402","name":"","group":"818ada6e.7a6bc","order":1,"width":16,"height":8,"label":"Distance From Destination","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":1080,"wires":[[]]},{"id":"817c5db6.0a9d88","type":"ui_chart","z":"3219a598.be2402","name":"","group":"818ada6e.7a6bc","order":1,"width":16,"height":8,"label":"Co2-Emissions while Parking","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":1360,"wires":[[]]},{"id":"10c06aae.983905","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"818ada6e.7a6bc","order":2,"width":8,"height":8,"gtype":"gage","title":"Distance From Destination Running Average","label":"m","format":"{{value}}","min":0,"max":"5000","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":850,"y":1040,"wires":[]},{"id":"d9552a45.baa0e","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"kpi/speedReduction","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":170,"y":1140,"wires":[["cbae97b.ce144e8","89df1a6f.70ce"]]},{"id":"cbae97b.ce144e8","type":"function","z":"3219a598.be2402","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('SRSum') || 0;\nvar count = context.get('SRValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('SRSum', sum);\ncontext.set('SRValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1180,"wires":[["dad428b4.7cd478","42d405e5.07b3d4"]]},{"id":"89df1a6f.70ce","type":"ui_chart","z":"3219a598.be2402","name":"","group":"417a374d.0bdb4","order":1,"width":"24","height":"8","label":"Speed Reduction Raw","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":1140,"wires":[[]]},{"id":"dad428b4.7cd478","type":"ui_chart","z":"3219a598.be2402","name":"","group":"818ada6e.7a6bc","order":1,"width":"16","height":"8","label":"Speed Reduction","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":1220,"wires":[[]]},{"id":"5ae52139.f0731","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"818ada6e.7a6bc","order":2,"width":8,"height":8,"gtype":"gage","title":"Co2-Emissions while Parking Running Average","label":"g","format":"{{value}}","min":0,"max":"1000","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":860,"y":1320,"wires":[]},{"id":"42d405e5.07b3d4","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"818ada6e.7a6bc","order":2,"width":8,"height":8,"gtype":"gage","title":"Percentage Speed Reduction Running Average","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":860,"y":1180,"wires":[]}]