node-red-data/flows.json
[{"id":"5992b366.f9457c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"84621338.b8541","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"55e289b4.bec3e8","type":"group","z":"84621338.b8541","name":"","style":{"label":true},"nodes":["dd118b5f.cafc4"],"x":614,"y":659,"w":232,"h":82},{"id":"8d5b248b.b32978","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3bad7c7d.5054c4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ff1424e3.f937b8","type":"ui_group","name":"Configuration","tab":"935d36f9.9bb698","order":1,"disp":true,"width":"6","collapse":false},{"id":"c25dc9d1.104cb8","type":"mqtt-broker","name":"mqttbroker:1883","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"935d36f9.9bb698","type":"ui_tab","name":"Config","icon":"dashboard","disabled":false,"hidden":false},{"id":"b41b6517.661a1","type":"ui_tab","name":"KPI","icon":"dashboard","disabled":false,"hidden":false},{"id":"5df4353a.fabcfc","type":"ui_group","name":"Average Time Spent Parking","tab":"b41b6517.661a1","order":1,"disp":true,"width":"24","collapse":false},{"id":"98c1c312.47e868","type":"ui_group","name":"Parking Spot Distance from Destination","tab":"b41b6517.661a1","order":2,"disp":true,"width":"24","collapse":false},{"id":"f400ab78.4bacc","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ca253505.6acb4","type":"ui_group","name":"Average Time Spent Parking","tab":"3f53bcab.9570f4","order":3,"disp":true,"width":"24","collapse":false},{"id":"81b45f7.e381ba","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true},{"id":"bbc16057.6523a8","type":"ui_group","name":"Parking Spot Distance From Destination","tab":"3f53bcab.9570f4","order":2,"disp":true,"width":"24","collapse":false},{"id":"3f53bcab.9570f4","type":"ui_tab","name":"KPI","icon":"dashboard","disabled":false,"hidden":false},{"id":"102e46b2.557ca1","type":"mqtt in","z":"84621338.b8541","name":"","topic":"kpi/timeSpentParking","qos":"2","datatype":"auto","broker":"f400ab78.4bacc","x":180,"y":660,"wires":[["df9fa62e.145238","d5da560b.8b43d8","2005f59f.de4e62"]]},{"id":"df9fa62e.145238","type":"ui_chart","z":"84621338.b8541","name":"","group":"ca253505.6acb4","order":1,"width":16,"height":8,"label":"Time Spent Parking","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":660,"wires":[[]]},{"id":"e3dfb91f.d06548","type":"mqtt in","z":"84621338.b8541","name":"","topic":"tickgen/tick","qos":"2","datatype":"auto","broker":"f400ab78.4bacc","x":140,"y":420,"wires":[["39a9332e.58333c"]]},{"id":"39a9332e.58333c","type":"ui_text","z":"84621338.b8541","group":"81b45f7.e381ba","order":1,"width":"6","height":1,"name":"","label":"Tick","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":420,"wires":[]},{"id":"c6210b74.16543","type":"mqtt in","z":"84621338.b8541","name":"","topic":"tickgen/tick_delay","qos":"2","datatype":"auto","broker":"f400ab78.4bacc","x":170,"y":480,"wires":[["e341b490.df5638"]]},{"id":"e341b490.df5638","type":"ui_text","z":"84621338.b8541","group":"81b45f7.e381ba","order":2,"width":"6","height":1,"name":"","label":"Tick Delay","format":"{{msg.payload}}ms","layout":"row-spread","x":380,"y":480,"wires":[]},{"id":"555974b3.db4eac","type":"ui_slider","z":"84621338.b8541","name":"","label":"Tick Delay [ms]","tooltip":"","group":"81b45f7.e381ba","order":5,"width":"6","height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"100","max":"5000","step":"100","x":160,"y":540,"wires":[["d7f3673f.7452d"]]},{"id":"d7f3673f.7452d","type":"mqtt out","z":"84621338.b8541","name":"","topic":"tickgen/tick_delay","qos":"","retain":"","broker":"f400ab78.4bacc","x":390,"y":540,"wires":[]},{"id":"d5da560b.8b43d8","type":"function","z":"84621338.b8541","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('TSPSum') || 0;\nvar count = context.get('TSPValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseInt(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('TSPSum', sum);\ncontext.set('TSPValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":700,"wires":[["4639e5a7.33509c","dd118b5f.cafc4"]]},{"id":"2005f59f.de4e62","type":"debug","z":"84621338.b8541","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":740,"wires":[]},{"id":"4639e5a7.33509c","type":"debug","z":"84621338.b8541","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":740,"wires":[]},{"id":"d5be7828.9727f8","type":"mqtt in","z":"84621338.b8541","name":"","topic":"kpi/distFromDest","qos":"2","datatype":"auto","broker":"f400ab78.4bacc","x":160,"y":840,"wires":[["63be6c72.b59554","e56ac964.05d528","e92b88da.8ecb18"]]},{"id":"63be6c72.b59554","type":"ui_chart","z":"84621338.b8541","name":"","group":"bbc16057.6523a8","order":1,"width":16,"height":8,"label":"Distance From Destination","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":520,"y":840,"wires":[[]]},{"id":"811672d0.d99cd","type":"ui_gauge","z":"84621338.b8541","name":"","group":"bbc16057.6523a8","order":2,"width":8,"height":8,"gtype":"gage","title":"Running Average","label":"m","format":"{{value}}","min":0,"max":"500","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":730,"y":880,"wires":[]},{"id":"e56ac964.05d528","type":"function","z":"84621338.b8541","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('DFDSum') || 0;\nvar count = context.get('DFDValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseInt(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('DFDSum', sum);\ncontext.set('DFDValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":880,"wires":[["811672d0.d99cd","37b11520.953332"]]},{"id":"e92b88da.8ecb18","type":"debug","z":"84621338.b8541","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":920,"wires":[]},{"id":"37b11520.953332","type":"debug","z":"84621338.b8541","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":920,"wires":[]},{"id":"dd118b5f.cafc4","type":"ui_gauge","z":"84621338.b8541","g":"55e289b4.bec3e8","name":"","group":"ca253505.6acb4","order":2,"width":8,"height":8,"gtype":"gage","title":"Running Average","label":"ticks","format":"{{value}}","min":0,"max":"500","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":730,"y":700,"wires":[]}]