node-red-data/flows.json
[{"id":"5992b366.f9457c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"84621338.b8541","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3219a598.be2402","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8d5b248b.b32978","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3bad7c7d.5054c4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ff1424e3.f937b8","type":"ui_group","name":"Configuration","tab":"935d36f9.9bb698","order":1,"disp":true,"width":"6","collapse":false},{"id":"c25dc9d1.104cb8","type":"mqtt-broker","name":"mqttbroker:1883","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"935d36f9.9bb698","type":"ui_tab","name":"Config","icon":"dashboard","disabled":false,"hidden":false},{"id":"b41b6517.661a1","type":"ui_tab","name":"KPI","icon":"dashboard","disabled":false,"hidden":false},{"id":"98c1c312.47e868","type":"ui_group","name":"Parking Spot Distance from Destination","tab":"b41b6517.661a1","order":2,"disp":true,"width":"24","collapse":false},{"id":"f400ab78.4bacc","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ca253505.6acb4","type":"ui_group","name":"Average Time Spent Parking","tab":"3f53bcab.9570f4","order":3,"disp":true,"width":"24","collapse":false},{"id":"81b45f7.e381ba","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true},{"id":"bbc16057.6523a8","type":"ui_group","name":"Parking Spot Distance From Destination","tab":"3f53bcab.9570f4","order":2,"disp":true,"width":"24","collapse":false},{"id":"3f53bcab.9570f4","type":"ui_tab","name":"KPI","icon":"dashboard","disabled":false,"hidden":false},{"id":"ef8651eb.094fa","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"93a20974.55f16","type":"ui_group","name":"Parking","tab":"8615a4e5.560ee","order":3,"disp":true,"width":"24","collapse":false},{"id":"cae8b5d2.a1aa38","type":"ui_group","name":"Configuration","tab":"8d5b248b.b32978","order":1,"disp":true,"width":"24","collapse":true},{"id":"30e8a116.43706e","type":"ui_group","name":"Traffic","tab":"d761d78f.59bd18","order":3,"disp":true,"width":"24","collapse":false},{"id":"3f064522.24bd52","type":"ui_group","name":"Environment","tab":"c57bf6e3.935ab8","order":5,"disp":true,"width":"24","collapse":false},{"id":"8615a4e5.560ee","type":"ui_tab","name":"Parking","icon":"dashboard","disabled":false,"hidden":false},{"id":"d761d78f.59bd18","type":"ui_tab","name":"Traffic","icon":"dashboard","disabled":false,"hidden":false},{"id":"c57bf6e3.935ab8","type":"ui_tab","name":"Environment","icon":"dashboard","disabled":false,"hidden":false},{"id":"6cba1983.cffb98","type":"ui_tab","name":"Parking Raw","icon":"dashboard","disabled":false,"hidden":false},{"id":"6ce95892.e77cd","type":"ui_group","name":"Parking Raw","tab":"6cba1983.cffb98","order":1,"disp":true,"width":"24","collapse":false},{"id":"fdd29ea.7a2c3e","type":"ui_tab","name":"Traffic Raw","icon":"dashboard","disabled":false,"hidden":false},{"id":"b2e31685.d571c8","type":"ui_group","name":"Traffic Raw","tab":"fdd29ea.7a2c3e","order":1,"disp":true,"width":"24","collapse":false},{"id":"b00228b2.c8c198","type":"ui_tab","name":"Environment Raw","icon":"dashboard","disabled":false,"hidden":false},{"id":"cded2d4e.0ca848","type":"ui_group","name":"Environment Raw","tab":"b00228b2.c8c198","order":1,"disp":true,"width":"24","collapse":false},{"id":"5df4353a.fabcfc","type":"ui_group","name":"Average Time Spent Parking","tab":"b41b6517.661a1","order":1,"disp":true,"width":"24","collapse":false},{"id":"7833e1f8.e39b8","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"kpi/timeSpentParking","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":180,"y":760,"wires":[["42abc417.7c7054","f6dee90b.5e416"]]},{"id":"42abc417.7c7054","type":"ui_chart","z":"3219a598.be2402","name":"","group":"6ce95892.e77cd","order":1,"width":"24","height":8,"label":"Time Spent Parking Raw","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"4000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":750,"y":760,"wires":[[]]},{"id":"c43b9717.24cc9","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"tickgen/tick","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":140,"y":420,"wires":[["76e5032c.8ce894"]]},{"id":"76e5032c.8ce894","type":"ui_text","z":"3219a598.be2402","group":"cae8b5d2.a1aa38","order":1,"width":"6","height":1,"name":"","label":"Tick","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":420,"wires":[]},{"id":"45c1afe7.5a4558","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"tickgen/tick_delay","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":170,"y":480,"wires":[["32faa08a.ceab58"]]},{"id":"32faa08a.ceab58","type":"ui_text","z":"3219a598.be2402","group":"cae8b5d2.a1aa38","order":2,"width":"6","height":1,"name":"","label":"Tick Delay","format":"{{msg.payload}}ms","layout":"row-spread","x":380,"y":480,"wires":[]},{"id":"e3cf9f31.8ff76","type":"ui_slider","z":"3219a598.be2402","name":"","label":"Tick Delay [ms]","tooltip":"","group":"cae8b5d2.a1aa38","order":5,"width":"24","height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"50","max":"1000","step":"10","x":160,"y":540,"wires":[["76526c0d.bf7bbc"]]},{"id":"76526c0d.bf7bbc","type":"mqtt out","z":"3219a598.be2402","name":"","topic":"tickgen/tick_delay","qos":"","retain":"","broker":"ef8651eb.094fa","x":390,"y":540,"wires":[]},{"id":"f6dee90b.5e416","type":"function","z":"3219a598.be2402","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('TSPSum') || 0;\nvar count = context.get('TSPValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('TSPSum', sum);\ncontext.set('TSPValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":800,"wires":[["eb24f53f.c6e2e","5f5f3f7c.b897e8"]]},{"id":"9a34605.9d8afa","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"kpi/distFromDest","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":160,"y":1000,"wires":[["9420038.180c18","74ced95.30dae28"]]},{"id":"9420038.180c18","type":"function","z":"3219a598.be2402","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('DFDSum') || 0;\nvar count = context.get('DFDValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('DFDSum', sum);\ncontext.set('DFDValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1040,"wires":[["4368e729.d02e3","fa6d8d96.86d9e8"]]},{"id":"74ced95.30dae28","type":"ui_chart","z":"3219a598.be2402","name":"","group":"6ce95892.e77cd","order":1,"width":"24","height":8,"label":"Distance From Destination Raw","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":1000,"wires":[[]]},{"id":"eb24f53f.c6e2e","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"93a20974.55f16","order":2,"width":8,"height":8,"gtype":"gage","title":"Time Spent Parking Running Average","label":"ticks","format":"{{value}}","min":0,"max":"1000","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":790,"y":800,"wires":[]},{"id":"5faab85e.e5e6f8","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"kpi/parkingEmissions","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":180,"y":1280,"wires":[["2489f89b.484208","d234a945.731c9"]]},{"id":"2489f89b.484208","type":"ui_chart","z":"3219a598.be2402","name":"","group":"cded2d4e.0ca848","order":1,"width":"24","height":8,"label":"Co2-Emissions while Parking Raw","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":1280,"wires":[[]]},{"id":"d234a945.731c9","type":"function","z":"3219a598.be2402","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('CO2Sum') || 0;\nvar count = context.get('CO2ValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseInt(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('CO2Sum', sum);\ncontext.set('CO2ValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1320,"wires":[["e91ab58c.30ad5","5fbd0891.5e9668"]]},{"id":"e343343.7eba4c8","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"kpi/fuelConsumption","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":170,"y":1400,"wires":[["85cd2d23.f2fdd8","5a23452.9546f3c"]]},{"id":"85cd2d23.f2fdd8","type":"function","z":"3219a598.be2402","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('FCSum') || 0;\nvar count = context.get('FCValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('FCSum', sum);\ncontext.set('FCValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(5);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1440,"wires":[["c91d859.8eeeaf8","eb0c8d66.82fb8"]]},{"id":"5a23452.9546f3c","type":"ui_chart","z":"3219a598.be2402","name":"","group":"cded2d4e.0ca848","order":1,"width":"24","height":8,"label":"Fuel Consumption while Parking Raw","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":1400,"wires":[[]]},{"id":"e91ab58c.30ad5","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"3f064522.24bd52","order":2,"width":8,"height":8,"gtype":"gage","title":"Co2-Emissions while Parking Running Average","label":"g","format":"{{value}}","min":0,"max":"1000","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":820,"y":1320,"wires":[]},{"id":"c91d859.8eeeaf8","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"3f064522.24bd52","order":2,"width":8,"height":8,"gtype":"gage","title":"Fuel Consumption while Parking Running Average","label":"l","format":"{{value}}","min":0,"max":"1","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":830,"y":1440,"wires":[]},{"id":"6b96427d.b662d4","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"kpi/distTravelledParking","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":180,"y":880,"wires":[["8a43d1d8.25d298","fd032c6d.1aa318"]]},{"id":"8a43d1d8.25d298","type":"ui_chart","z":"3219a598.be2402","name":"","group":"6ce95892.e77cd","order":1,"width":"24","height":8,"label":"Distance Travelled Parking Raw","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":880,"wires":[[]]},{"id":"fd032c6d.1aa318","type":"function","z":"3219a598.be2402","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('DTPSum') || 0;\nvar count = context.get('DTPValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('DTPSum', sum);\ncontext.set('DTPValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":920,"wires":[["fe76d3ed.30afc8","f7cd2c5d.0494b"]]},{"id":"fe76d3ed.30afc8","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"93a20974.55f16","order":2,"width":8,"height":8,"gtype":"gage","title":"Distance Travelled Parking Running Average","label":"m","format":"{{value}}","min":0,"max":"5000","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":810,"y":920,"wires":[]},{"id":"5f5f3f7c.b897e8","type":"ui_chart","z":"3219a598.be2402","name":"","group":"93a20974.55f16","order":1,"width":16,"height":8,"label":"Time Spent Parking","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":840,"wires":[[]]},{"id":"f7cd2c5d.0494b","type":"ui_chart","z":"3219a598.be2402","name":"","group":"93a20974.55f16","order":1,"width":16,"height":8,"label":"Distance Travelled Parking","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":760,"y":960,"wires":[[]]},{"id":"4368e729.d02e3","type":"ui_chart","z":"3219a598.be2402","name":"","group":"93a20974.55f16","order":1,"width":16,"height":8,"label":"Distance From Destination","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":760,"y":1080,"wires":[[]]},{"id":"5fbd0891.5e9668","type":"ui_chart","z":"3219a598.be2402","name":"","group":"3f064522.24bd52","order":1,"width":16,"height":8,"label":"Co2-Emissions while Parking","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1000","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":760,"y":1360,"wires":[[]]},{"id":"eb0c8d66.82fb8","type":"ui_chart","z":"3219a598.be2402","name":"","group":"3f064522.24bd52","order":1,"width":16,"height":8,"label":"Fuel Consumption while Parking","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":1480,"wires":[[]]},{"id":"fa6d8d96.86d9e8","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"93a20974.55f16","order":2,"width":8,"height":8,"gtype":"gage","title":"Distance From Destination Running Average","label":"m","format":"{{value}}","min":0,"max":"5000","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":810,"y":1040,"wires":[]},{"id":"9cd6745a.afd6c","type":"mqtt in","z":"3219a598.be2402","name":"","topic":"kpi/speedReduction","qos":"2","datatype":"auto","broker":"ef8651eb.094fa","x":170,"y":1140,"wires":[["7332dc81.48c0f4","32a0329b.dc5cc6"]]},{"id":"c2ed31ef.146bf8","type":"ui_gauge","z":"3219a598.be2402","name":"","group":"30e8a116.43706e","order":2,"width":8,"height":8,"gtype":"gage","title":"Percentage Speed Reduction Running Average","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#d13a3c","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":820,"y":1180,"wires":[]},{"id":"7332dc81.48c0f4","type":"function","z":"3219a598.be2402","name":"RunningAvg","func":"// get count and sum or zero\nvar sum = context.get('SRSum') || 0;\nvar count = context.get('SRValueCount') || 0;\n\n// get payload from kpi/avgTimeSpentParking\nlet value = parseFloat(msg.payload);\n\n// update count and sum\nsum += value;\ncount += 1;\ncontext.set('SRSum', sum);\ncontext.set('SRValueCount', count);\n\n// pass along running average\nvar runningAvg = (sum/count).toFixed(2);\nmsg.payload = runningAvg;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1180,"wires":[["c2ed31ef.146bf8","1a7a21d7.75153e"]]},{"id":"32a0329b.dc5cc6","type":"ui_chart","z":"3219a598.be2402","name":"","group":"b2e31685.d571c8","order":1,"width":"24","height":"8","label":"Speed Reduction Raw","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":740,"y":1140,"wires":[[]]},{"id":"1a7a21d7.75153e","type":"ui_chart","z":"3219a598.be2402","name":"","group":"30e8a116.43706e","order":1,"width":"16","height":"8","label":"Speed Reduction","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":1220,"wires":[[]]}]